.container {
    max-width: 1200px;
    padding: 20px 40px;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* margin: 30px 0px; */
    height: 100vh;
    /* background-color: #ffffff; */
    /* box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.1); */
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
}


.carouselContainer {
    display: flex;
    width: 100%;
    height: 500px;
    overflow: hidden;
    padding-top: 10%;
}

.navigationDots {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.carousel {
    flex: 1;
    overflow: scroll;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    margin: 5px;
    cursor: pointer;
}

.dotActive {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-color);
    margin: 5px;
    cursor: pointer;
}

.card {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
    max-width: 520px;
    padding: 26px 40px;
    margin: 0px 0px;
    border-radius: 10px;
    scroll-snap-align: start;
}

.card:target{
    opacity: 1;
    filter: blur(0px);
}

.container h1 {
    font-size: 78px;
}

.container p {
    font-size: 21px;
    margin-bottom: 1rem;
    font-family: 'Raleway';
    padding: 10px;
}

.subs {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-family: 'TommySoft';
    color: var(--color1);
}

.subs1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: 'TommySoft';
    color: var(--color2)
}

.subs2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: 'TommySoft';
    color: var(--color3)
}

.subs3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: 'TommySoft';
    color: var(--color5)
}

.section{
    background-color: var(--color1-ultralight);
    margin-top: 20%;
}

.section1{
    background-color: var(--color2-ultralight);
}

.section2{
    background-color: var(--color3-ultralight);
}

.section3{
    background-color: var(--color5-light);
    margin-bottom: 20%;
}


@media (max-width: 768px) {

    .container {
        display: block;
        height: auto;
    }

    .container h1 {
        font-size: 60px;
    }

    .wrapper {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    
    .section, .section2, .section1, .section3 {
        margin: 0;
    }

    .container {
        padding: 20px;
    }

    .section:hover, .section2:hover, .section1:hover, .section3:hover {
        transform: scale(1);
    }
}