.container {
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    margin: auto;
    /* background-color: aqua; */
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    height: 100%;
    position: relative;
    /* background-color: blueviolet; */
}

.tag {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--color);
}

.tag2 {
    position: absolute;
    width: 160px;
    height:160px;
    border-radius: 50%;
    border: 2px solid var(--color);
}


.carouselContainer {
    display: flex;
    width: 100%;
    height: 560px;
    overflow: hidden;
    padding-top: 10%;
    flex: 2.4;
}

.navigationDots {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.carousel {
    flex: 1;
    /* overflow: scroll; */
    overflow: auto;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}


.carousel::-webkit-scrollbar {
    display: none;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--background-color);
    border: 1px solid var(--text-color);
    margin: 5px;
    cursor: pointer;
}

.dotActive {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-color);
    margin: 5px;
    cursor: pointer;
}

.cardhold {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
    max-width: 600px;
    margin: 0px auto;
    border-radius: 10px;
    scroll-snap-align: start;
    /* background-color: var(--background-color); */
}

.card {
    width: 100%;
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
    max-width: 600px;
    padding: 32px 10px;
    margin: 0px auto;
    border-radius: 10px;
    scroll-snap-align: start;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    /* background-color: aqua; */
    height: 84%;
}

.card:target{
    opacity: 1;
}

.card hr {
    border: 0;
    height: 1px;
    background: var(--text-color);
    margin: 40px 0;
}

.container h1 {
    font-size: 78px;

}

.container p {
    font-size: 16px;
    margin-bottom: 1rem;
    font-family: 'Raleway';
    font-weight: 200;
    padding: 10px;
}

.subs {
    font-size: 42px;
    margin-bottom: 1rem;
    font-family: 'Raleway';
    color: var(--text-color);
}


@media (max-width: 768px) {

    .container {
        display: block;
        height: auto;
        padding: 20px;
    }

    .container h1 {
        font-size: 60px;
    }

    .wrapper {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    
    .section, .section2, .section1, .section3 {
        margin: 0;
    }

    .section:hover, .section2:hover, .section1:hover, .section3:hover {
        transform: scale(1);
    }
}