.formItem::-moz-selection {
    background: var(--text-contrast) !important;
    color: var(--color) !important;
  }
  
.formItem::selection {
    background: var(--text-contrast) !important;
    color: var(--color) !important;
  }

.container {
    /* min-height: 100vh; */
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.card {
    /* border: 1px solid var(--color); */
    background-color: var(--color-muted);
    color: var(--text-contrast);
    padding: 20px;
    border-radius: 20px;
    max-width: 700px;
}

.card h1 {
    font-size: 66px;
    font-weight: 400;
    margin-bottom: 50px;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    flex: 8;
}

.formItem label {
    font-size: 21px;
    margin: 10px 0;
}

.formItem input, .formItem textarea {
    background-color: inherit;
    border: none;
    border-top: 1px solid var(--text-contrast-transparent);
    padding: 20px 0;
    font-size: 24px;
    font-weight: 300;
    font-family: inherit;
    color: var(--text-contrast);
}

.formItem input::placeholder , .formItem textarea::placeholder {
    color: var(--text-contrast-transparent);
    opacity: 1;
 }

 .formItem input::-moz-placeholder , .formItem textarea::-moz-placeholder {
    color: var(--text-contrast-transparent);
    opacity: 1;
 }

.formItem input:-webkit-autofill,
.formItem input:-webkit-autofill:hover, 
.formItem input:-webkit-autofill:focus, 
.formItem input:-webkit-autofill:active,
.formItem textarea:-webkit-autofill,
.formItem textarea:-webkit-autofill:hover,
.formItem textarea:-webkit-autofill:focus,
.formItem textarea:-webkit-autofill:active
.formItem select:-webkit-autofill,
.formItem select:-webkit-autofill:hover,
.formItem select:-webkit-autofill:focus,
.formItem select:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-contrast);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232300;
}

.formItem input:focus, .formItem textarea:focus {
   outline: none;
   caret-color: var(--text-contrast);
}


.formItem textarea {
    resize: none;
}

.formItemWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    flex: 1;
}

/* .separator {
    position: absolute;
    z-index: -1;
    width: 100vw;
    background-color: var(--color-muted);
    height: 100vh;

} */

.custom {
    margin-top: 5%;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: 100px;
}

.custom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.body {
    background-color: var(--color-muted);
    color: var(--text-color);
}

.custom2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.submit {
    
}