.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.header h1 {
    font-family: 'TommySoft';
    margin: 0;
    padding: 0;
}

.title {
    font-size: 98px;
}

.title2 {
    font-size: 48px;
}   

.title3 {
    font-size: 94px;
}   

.title4 {
    font-size: 90px;
}   

.title span {
    color: var(--text-color);
    transition: transform 0.5s ease; /* Smooth transitions for transform and color */
}

/* Keyframes for the scaling and color effect */
@keyframes magnify {
    0%, 100% { 
        transform: scaleX(1);
    }
    50% { 
        transform: scaleX(1.5); /* Slightly magnify */
    }
}

.title:hover span {
    animation: magnify 3.6s infinite; /* Constant animation */
}

/* .title span {
    color: var(--text-color);
    transition: transform 0.5s ease, color 0.5s ease; 
}

@keyframes magnify {
    0%, 100% { 
        transform: scaleX(1);
        color: var(--text-color);
     }
    50% { 
        transform: scaleX(1);
        color: inherit;
    }
}

.title:hover span {
    animation: magnify 3.6s infinite;
}

.title:hover span:nth-child(1) { animation-delay: 0.5s; color: red; }
.title:hover span:nth-child(2) { animation-delay: 0.9s; color: orange; }
.title:hover span:nth-child(3) { animation-delay: 1.3s; color: yellow; }
.title:hover span:nth-child(4) { animation-delay: 1.8s; color: green; }
.title:hover span:nth-child(5) { animation-delay: 2.5s; color: blue; }
.title:hover span:nth-child(6) { animation-delay: 3.0s; color: indigo; }
.title:hover span:nth-child(7) { animation-delay: 3.40s; color: violet; }
.title:hover span:nth-child(8) { animation-delay: 3.70s; color: pink; } */