/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; 
} */

/* .dot {
    height: 100vh; 
    min-width: 100vw; 
    background-color: #bbb;
    display: inline-block;
    scroll-snap-align: start; 
    scroll-snap-stop: always;
}

.dot:first-child {
    background-color: #f7a3a3;
}

.dot:last-child {
    background-color: #a3f7a3;
} */

.cards {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* background-color: rgba(137, 43, 226, 0.305); */
}

.card {
    background-color: var(--background-color);
    /* border: 1px solid black; */
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    display: inline-block;
    margin: 10px;
    max-height: 80%;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 10px;
    margin: 10px;;
    /* background-color: blueviolet; */
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    position: relative;
    flex: 1;
}

.computer {
    position: absolute;
    /* z-index: 1; */
}

.image { 
    border-radius: 10px 10px 10px 10px;
    height: 198px;
    position: relative;
    overflow-y: auto;
    top: 5px;
    left: 0;
    overflow-x: hidden;
    max-width: 100%;
    border: 1px solid var(--text-contrast);
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

.image img {
    position: relative;
    scroll-behavior: auto;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--color);
    color: var(--text-contrast);
    transition: transform 0.5s;
    transform-origin: bottom right;
    /* transform: scale(0.9); */
}

.cta:hover {
    transform: scale(1.2);
    animation: forwards;
}

.ctawrapper {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    /* background-color: blueviolet; */
}

.cta a:hover {
    color: var(--text-contrast);

}

.div1 h1{
    font-size: 21px;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    padding: 0 0 10px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--text-color);
}

.div2 p {
    font-size: 16px;
    font-weight: 100;
    /* color: var(--text-color); */
    margin: 0;
    margin-bottom: 16px;
    padding: 10px 0;
}

.cta p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}